/* ==========  Banner  ========== */
.call{
    font-size: 0.9em;
    margin-top: 2px;
}

header #logo{
    margin-right: 27%;
}

/* ==========  Contact Us Input Fields and Info  ========== */
.bulletin{
    width: 100%;
    margin-bottom: 15px;
}
.bulletin #name{
    width: 97%;
}
.in-phone{
    width: 97%;
}
.in-email{
    width: 97%;
    float: left;
}
textarea{
    width: 96%;
}
.bulletin .social{
    margin: 55px 10px 0px 0px;
}