.ctn{
    width: 90%;
    margin: 0 atuo 0 auto;
}

#nav1 {
    display: inline-block;
}
/* ==========  Contact US  ========== */
.bulletin #name{
    width: 96%;
}
.in-phone{
    width: 96%;
}
.in-email{
    width: 96%;
    float: left;
}
textarea{
    width: 94%;
}
.bulletin .social{
    margin: 95px 10px 0px 0px;
}
